
<header>
        <a href="#" class="logo">TRAV<span>OH</span></a>
        <ul class="navbar">
            <li><a href="/index.php">Dashboard</a></li>
            <li><a href="#">Destinasi</a></li>
            <li><a href="#">Pusat Oleh-oleh</a></li>
            <li><a href="#">Kuliner</a></li>
            <li><a href="#">Statistik</a></li>
        </ul>

        <div class="h-right">
            <a href="#"><i class="ri-instagram-fill"></i></a>
            <a href="#"><i class="ri-tiktok-fill"></i></a>
            <a href="#"><i class="ri-twitter-x-fill"></i></a>
            <a href="/register.php" class="btn">Login
            </a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>
